# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Frontend (Origin without trailing slash)
CLIENT_URL=http://localhost:5173
